# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Android related
**/android/app/google-services.json
**/android/local.properties
**/android/key.properties
**/android/*.jks
**/android/*.keystore
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/generated/
**/ios/Pods/
**/macos/Pods/
**/Pods/
*.lproj/

# Windows related
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.ntvs*
*.njsproj
*.psess
*.vsp
*.vspx
*.sap

# Linux related
*.bundle
*.so

.env
.env.*
!.env.example

# Ignore Flutter generated plugin registrants
**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/GeneratedPluginRegistrant.m
**/GeneratedPluginRegistrant.swift
**/generated_plugins.cmake